*.pyc
*.ipynb
*.log
*.db
*.hd5
*.tex
/Assignment/logos/*
/Assignment/forside/*
/Assignment/figures/*
*.bib
*.sty
*.aux
*.bbl
*.blg
*.out
*.gz
*.thm
.ipynb_checkpoints
*.png
*.jpg
*.snm
*.toc
*.nav
